<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ConnString" 
			 connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=db_hotel_terakhir;Integrated Security=True" 
			 providerName="System.Data.SqlClient"/>
		<!-- Add your own connection string here -->
		
	</connectionStrings>
	<appSettings>
		<!-- Begin CustomerDAL -->
		<add key="CustomerDAL:ReadData" 
			 value="SELECT * FROM customers"/>
		<add key="CustomerDAL:InsertRecord"
			 value="INSERT INTO customers(first_name, last_name, nik, phone_number, email) 
					VALUES(@firstName, @lastName, @nik, @phoneNumber, @email)"/>
		
		<!-- Begin RoomDAL -->
		<add key="RoomDAL:ReadData"
			 value="SELECT * FROM rooms"/>
		
		<!-- Begin RoomFacilityDAL -->
		<add key="RoomFacilityDAL:ReadData"
			 value="SELECT * FROM room_facilities"/>

		<!-- Begin RoomFacilityBathroomDAL -->
		<add key="RoomFacilityBathroomDAL:ReadData"
			 value="SELECT * FROM room_facility_bathrooms"/>

		<!-- Begin RoomFacilityOtherDAL -->
		<add key="RoomFacilityOtherDAL:ReadData"
			 value="SELECT * FROM room_facility_others"/>
		
		<!-- Begin ReservationDAL -->
		<add key="ReservationDAL:ReadData"
			 value="SELECT * FROM reservations"/>
		<add key="ReservationDAL:InsertRecord"
			 value="INSERT INTO reservations(reservation_code, number_of_guests, checkin, checkout, reservation_status, customer_id, room_id)
					VALUES(@reservationCode, @numberOfGuests, @checkin, @checkout, @reservationStatus, @customerID, @roomID)"/>
		<add key="ReservationDAL:UpdateRecord"
			 value="UPDATE reservations
					SET reservation_code = @reservationCode, number_of_guests = @numberOfGuests, checkin = @checkin, checkout = @checkout, 
						reservation_status = @reservationStatus, customer_id = @customerID, room_id = @roomID
					WHERE reservation_id = @reservationID"/>
		<add key="ReservationDAL:DeleteRecord"
			 value="DELETE FROM reservations WHERE reservation_id = @reservationID"/>
		
		<!-- Begin HistoryDAL -->
		<add key="HistoryDAL:ReadData"
			 value="SELECT * FROM histories"/>
		<add key="HistoryDAL:InsertRecord"
			 value="INSERT INTO histories(reservation_code, number_of_guests, checkin, checkout, customer_id, room_id)
					VALUES(@reservationCode, @numberOfGuests, @checkin, @checkout, @customerID, @roomID)"/>
	</appSettings>
</configuration>